html {
    --lumo-error-text-color: rgb(245, 114, 107);
    --lumo-error-color-50pct: rgba(245, 114, 107, 0.5);
    --lumo-error-color-10pct: rgba(245, 114, 107, 0.1);
    --lumo-error-color: hsl(3, 87%, 69%);
    --lumo-success-text-color: rgb(85, 216, 139);
    --lumo-success-color-50pct: rgba(85, 216, 139, 0.5);
    --lumo-success-color-10pct: rgba(85, 216, 139, 0.1);
    --lumo-success-color: hsl(145, 63%, 59%);
}

.router-link, .router-link * {
    color: #337ab7;
    text-decoration: none;
    padding: 8px 40px;
    transition: background-color 0.2s ease;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: -8px;
    margin-right: -8px;
}

.router-link:hover {
    background-color: lightskyblue;
    color: white;
}

.router-link:active {
    background-color: #f5f5f5;
}

.header-class{
    margin: -10px;
    padding-bottom: 10px;
}

.theme-toggle{
    margin-top: 5px;
}

.drawer-class{
    margin: -15px;
    padding: -10px;
}

.drawer-class {
    justify-content: space-between;
}

.applybutton-class {
    margin-top: 37px;
    width: 30%;
}

.filters-class {
    margin: -10px;
    padding: -10px;
    width: 50%;
}

.kanban-column {
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
    font-size: large;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    font-weight: bold;
    overflow: auto;
}

.ticket {
    margin: 10px;
    padding: 10px;
    font-size: large;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    font-weight: bold;
    overflow: auto;
    cursor: pointer;
}

.ticket:hover {
    background-color: steelblue;
}

.ticket-name {
    font-weight: bold;
    font-size: 0.9em;
}

.ticket-description {
    font-size: 0.9em;
}

.ticket-priority {
    color: red;
    font-weight: bold;
    font-size: 0.9em;
}

.ticket-assignee {
    font-style: italic;
    font-size: 0.9em;
}

.day {
    background-color: #19324D;
    font-size: 20px;
    font-weight: bold;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin: -10px;
}

.highlighted-row {
    background-color: red; /* Choose your preferred color */
}



.low-priority {
    background: lightgreen;
}

.medium-priority {
    background: lightyellow;
}

.high-priority {
    background: lightcoral;
}